:root {
    --light: #fff;
    --texttheme: #000;
    --theme: #aab0c2;
    --contrast: rgb(135, 135, 173);
    --header-text: Spartan, sans-serif;
    --body-text: Spartan, sans-serif;
}

body {
font-family: var(--body-text);
}

.header h1 {
    font-family: var(--header-text);
    padding: 25px;
    font-size: 50px;
    margin: -10px;
    background-color: var(--theme);
    
}

h1 {
    font-size: 16%;
    background-color: var(--theme);
    text-align: center;
    padding: -30px;
}
    
.nav-bar {
    margin-bottom: -10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -20px;
}

.nav-style {
    padding: 10%;
    background-color: var(--contrast);
    color: var(--texttheme);
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 20px;
    }

ul {
display: flex;
display: block;
list-style-type:circle;
}

.h2 {
    display: flex;
    align-items:flex-start;

}

.h2-work-section {
    display: inline;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.h2-work {
    display:inline;
    position: absolute;
}

.h2 img {
    padding-left: 65px;
}

div {
padding-left: 160px;
}

/*
.enlargen:hover {
width: 500px;
}
*/

footer {
    display: flex;
}

footer h2 {
    display: block;
}


img {
position: relative;
max-width: 30%;
height: auto;
}


@media screen and (min-width: 375px;) {
img {
    padding-left:60px;
    margin:5px;
}  
}
