:root {
    --light: #fff;
    --texttheme: #000;
    --theme: #aab0c2;
    --contrast: rgb(135, 135, 173);
    --border-radius: 10px;
    --header-text: Spartan, sans-serif;
    --body-text: Spartan, sans-serif;
}

body {
font-family: var(--body-text);
}

.header h1 {
    font-family: var(--header-text);
    padding: 25px;
    font-size: 50px;
    margin: -10px;
    background-color: var(--theme);
    
}

h1 {
    font-size: 16%;
    background-color: var(--theme);
    text-align: center;
}
    
.nav-bar {
position: relative;
margin: -20px;
}

.nav-style {
    padding: 10%;
    background-color: var(--contrast);
    color: var(--texttheme);
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 70px;
    padding: 20px;
    }

li {
display: inline-block;
}

.h2 {
    display: flex;
}

.img {
    border-radius: 15px;
    max-width:100px;
}

.header-text {
    display: block;
    justify-content: table-row;
}

footer {
    display: flex;
}

footer h2 {
    display: block;
}